name: Build TFLite runtime

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Branch name"
        default: 'elf_aligned'
        required: true
      release:
        description: "If true, release the artifact"
        type: boolean
        required: true
      repository:
        description: "Name of a target repository"
        default: 'mizangl/tensorflow'
        required: false
      xnn_options:
        description: "XNNPack build options"
        default: '--define=xnn_enable_avxvnniint8=false'
        required: false

permissions:
  contents: write

env:
  VERSION:
    |- # Enter release tag name or version in workflow_dispatch. Recent version if not specified
    ${{ github.event.release.tag_name || github.event.inputs.version || '2.19.0' }}
  REPOSITORY:
    ${{ github.event.inputs.repository || 'mizangl/tensorflow' }}

jobs:
  build-android:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: android_arm64
            artifact_name: tflite-runtime-android-arm64
          - config: android_x86_64
            artifact_name: tflite-runtime-android-x86_64
          - config: android_fat_aar
            artifact_name: tflite-runtime-android-fat-aar
    env:
      ANDROID_SDK_API_LEVEL: 31
      ANDROID_NDK_API_LEVEL: 21
      ANDROID_BUILD_TOOLS_VERSION: '36.0.0'
      CC: clang-17
      CXX: clang++-17
      HERMETIC_PYTHON_VERSION: 3.12    
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - uses: actions/checkout@v4
        with:
          repository: ${{ env.REPOSITORY }}
          ref: ${{ env.VERSION }}
          submodules: recursive
          github-server-url: https://github.com
      - uses: bazel-contrib/setup-bazel@0.15.0
      - name: Install dependencies
        run: |
          sudo apt-get remove -y gcc g++
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 17
          sudo apt-get update
          sudo apt-get install -y mesa-common-dev libegl1-mesa-dev libgles2-mesa-dev clang-17 llvm-17
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r27b
          add-to-path: true
      - name: Build shared libraries
        if: ${{ matrix.config != 'android_fat_aar' }}
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          mkdir -p artifact
          export ANDROID_SDK_HOME=$ANDROID_HOME

          # Main
          bazel build -c opt --config=${{ matrix.config }} --cxxopt=--std=c++17 ${{ inputs.xnn_options }} tensorflow/lite/c:tensorflowlite_c
          cp -f bazel-bin/tensorflow/lite/c/libtensorflowlite_c.so artifact
          
      - name: Build AAR
        if: ${{ matrix.config == 'android_fat_aar' }}
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          mkdir -p artifact
          export ANDROID_SDK_HOME=$ANDROID_HOME

          # Main
          bazel build -c opt --fat_apk_cpu=arm64-v8a,x86_64 --cxxopt=--std=c++17 ${{ inputs.xnn_options }} --define=android_dexmerger_tool=d8_dexmerger --define=android_incremental_dexing_tool=d8_dexbuilder tensorflow/lite/java:tensorflow-lite
          cp -f bazel-bin/tensorflow/lite/java/tensorflow-lite.aar artifact
          
      - name: Compress artifact
        run: |
          mv artifact/ "${{ matrix.artifact_name }}-${{ env.VERSION }}"
          tar czf "${{ matrix.artifact_name }}-${{ env.VERSION }}.tgz" "${{ matrix.artifact_name }}-${{ env.VERSION }}"
      - uses: softprops/action-gh-release@v2
        if: ${{ inputs.release }}
        with:
          files: "*.tgz"
          tag_name: ${{ env.VERSION }}

  release:
    needs: [build-android]
    runs-on: ubuntu-latest
    steps:  
      - uses: softprops/action-gh-release@v2
        if: ${{ inputs.release }}
        with:
          name: TFLite Runtime v${{ env.VERSION }}
          tag_name: ${{ env.VERSION }}
          target_commitish: ${{ github.sha }}
